@font-face {
  font-family: 'iconfont';
  src: url('./font/iconfont.eot');
  src: url('./font/iconfont.eot?#iefix') format('embedded-opentype'),
      url('./font/iconfont.woff2') format('woff2'),
      url('./font/iconfont.woff') format('woff'),
      url('./font/iconfont.ttf') format('truetype'),
      url('./font/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*头部信息*/
.nav {
	margin: 0 auto;
	width: 990px;
	height: 35px;
	background: #f5f5f5;
}
#headMessage li {
	float: left;
	line-height: 35px;
	padding: 0 6px;
	font-size: 0; /*空格由字体大小决定,设置父级字体大小为0,可以取消空格*/
}
#headMessage a {
	color: #6c6c6c;
	font-size: 12px; /*把字体回到12,不然字体也为0显示不出来*/
}
#headMessage a.login {
	color: #f22e00;
}
#headMessage span {
	font-size: 12px;
}
#headMessage span.arrow {
	margin-left: 7px;
}
#headMessage li strong {
	font-size: 12px;
	color: #f40;
}
#headMessage li a:hover {
	color: #f40;
}
#headMessage li.line {
	font-size: 12px;
	color: #ddd;
	padding: 0 5px;
}

/*头部广告*/
#headAd {
	background-color: #f12f04;
}
#headAd .go {
	display: block;
	padding: 10px 10px 10px 15px;
}
#headAd .go img {
	width: 120px;
	height: 80px;
}
#headAd ul {
	padding-top: 13px;
}
#headAd li {
	float: left;
	width: 209px;
	height: 75px;
	margin-right: 10px;
	padding: 12px 15px 0 15px;
	box-sizing: border-box; /*IE盒模型:总宽度=width;总高度=height*/
}
#headAd li h3 {
	font-size: 20px;
	line-height: 28px;
}
#headAd li a {
	color: #fff;
	display: block; /*变成块级元素*/
}
#headAd li a img{
	width: 52px;
	height: 52px;
	border-radius: 5px;
}
#headAd li.item1 {
	background-color: purple;
	border-radius: 5px;
}
#headAd li.item2 {
	background-color: green;
	border-radius: 5px;
}
#headAd li.item3 {
	background-color: blue;
	border-radius: 5px;
}
#headAd li.item4 {
	background-color: #333;
	border-radius: 5px;
	margin-right: 0;
}

/*头部搜索*/
#headSearch {
	background-color: #fff;
	padding: 24px 0 10px 0;
}
#headSearch h1 a {
	display: block;
	width: 190px;
	height: 58px;
	/*以图换字*/
	background: url(./images/taobao.png);
	background-size: 190px;
	text-indent: -9999px; /*首行缩进负值往左走,由于值很大所以不会出现在界面*/
	overflow: hidden;
	margin-top: 8px;
}
#headSearch .code {
	width: 72px;
	height: 86px;
	bottom: 1px solid #eee;
	position: relative;
	margin-right: 110px;
	text-align: center;
}
#headSearch a img {
	width: 123px;
	height: 72px;
}
#headSearch .search {
	width: 630px;
	margin: 0 auto; /*居中*/
}
#headSearch .searchTab {
	height: 22px; /*有浮动的情况下最好设置一个高度，不然会跟着跑*/
	padding-left: 17px;
}
#headSearch .searchTab li {
	float: left;
	width: 36px;
	line-height: 22px;
	margin-right: 4px;
	text-align: center;
	color: #f40;
	cursor: pointer;
}
#headSearch .searchTab li:hover {
	background-color: #ffeee5;
}
#headSearch .searchTab li.active {
	color: #fff;
	font-weight: bold;
	background-image: linear-gradient(to right, #ff9000, #ff5000); /*线性渐变*/
	border-radius: 6px 6px 0 0;
}
#headSearch .searchContent {
	height: 40px;
}
#headSearch .searchbox {
	width: 554px;
	height: 40px;
	box-sizing: border-box;
	border: 2px solid #ff5000;
	border-right: none;
	border-radius: 20px 0 0 20px;
	overflow: hidden;
	position: relative; /*父级相对定位*/
}
#headSearch .searchbox input {
	width: 490px; /*留出一块图标的位置*/
	height: 36px; /*content=40-4*/
	line-height: 36px;
	outline: none;
	border: none;
	text-indent: 10px; /*输入的文字的缩进*/

	/*后面的placeholder的文字覆盖了input*/
	position: absolute; /*与placeholder同级别*/
	z-index: 1;
	background-color: transparent; /*为了能看到后面的文字，设置透明，但导致了了本来在右边的搜索图标往左（定位脱离文档流）*/
}
#headSearch .searchbox .placeholder {
	position: absolute;
	top: 9px;
	left: 14px;
}
#headSearch .placeholder span {
	color: #9c9c9c;
}
#headSearch .searchbox img {
	width: 30px;
	height: 30px;
	/*vertical-align: middle;*/
	position: absolute;
	right: 20px;
	top: 3px;
	cursor: pointer;
}
#headSearch button {
	width: 74px;
	height: 40px;
	text-align: center;
	font-size:  18px;
	line-height: 40px;
	vertical-align: middle;
	color: #fff;
	border: none;
	background-image: linear-gradient(to right, #ff9000, #ff5000);
	border-radius: 0 20px 20px 0;
	cursor: pointer;
}
#headSearch .hotkey {
	height: 25px;
	line-height: 25px;
	margin-left: 7px;
}
#headSearch .hotkey a:hover {
	color: #f50;
}

/*导航栏*/
#nav h2 {
	width: 190px;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	background-color: #f50;
}
#nav ul {
	width: 1000px;
	width: calc(100% - 190px); /*便于计算（必须空格,支持IE9+）：1190-190*/
	/*如果不在父级加fl样式：(bfc)*/
	/*margin-left: 190px;
	overflow: hidden;*/
	background-image: linear-gradient(to right, #ff9000, #ff5000);
}
#nav li {
	float: left;
	line-height: 30px;
	margin:0 7px;
	font-size: 14px;
	color: #fff;
	padding: 0 5px;
	position: relative;
}
#nav li .size {
	font-size: 16px;
}
#nav ul li a {
	color: #fff;
	font-weight: bold;
}
#nav ul li.line {
	margin: 0;
	padding: 0;
}
/*#nav ul a:hover:before {
	content: '',
	position: absolute;
	width: 23px;
	height: 13px;
	background-image: url(./images/pos.png);
	top: -13px;
	left: 50%;
	margin-left: -12px;
}*/

/*主体信息*/
/*左边的内容*/
/*侧边导航*/
.firstLeft {
	width: 890px;
}
.firstLeft .sideNav {
	width: 190px;
	height: 522px;
	background: #fff;
	border: 1px solid #ff5000;
	box-sizing: border-box;
	border-top: none;
	padding-top: 5px;
}
.sideNav li {
	height: 32px;
	line-height: 32px;
	padding-left: 25px;
	transition: background-color 0.3s; /*css3:过渡*/
	color: #999;
}
.sideNav li a {
	font-size: 14px;
}
.sideNav li span {
	font-size: 12px;
	margin-right: 5px;
}
.sideNav li:hover {
	background: #ffe4dc;
	color: #f50;
}
.sideNav li:hover a {
	color: #f50;
}
.sideNav li:hover a:hover {
	text-decoration: underline;
	
}

/*图片1容器*/
.firstLeft .img1Box {
	width: 690px;
	height: 282px;
	margin-top: 10px;
}
/*.firstLeft .img {
	width: 650px;
	height: 62px;
}*/
/*图片上的小样式*/
.firstLeft .pic {
	position: relative;
	width: 520px;
}
.firstLeft .pic button {
	width: 20px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	cursor: pointer;
	border: none;
	background-color: rgba(0,0,0,0.3);
	position: absolute;
	top: 50%;
	margin-top: -15px;
	display: none;
}
.firstLeft .pic button.leftbtn {
	left: 0;
	border-radius: 0 15px 15px 0;
}
.firstLeft .pic button.rightbtn {
	right: 0;
	border-radius: 15px 0 0 15px;
}
.firstLeft .pic:hover button {
	display: block;
}
.firstLeft .pic .circle {
	position: absolute;
	bottom: -175px;
	left: 42%;
	margin-left: -33px;
	background-color: rgba(255,255,255,0.3); /*IE9+支持*/
	border-radius: 10px;
	/*padding-top: 3px 0;*/
	font-size: 0;
}
.firstLeft .pic .circle span  {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #fff;
	margin: 0 3px;
	cursor: pointer;
}
.firstLeft .pic .circle span.acive  {
	background-color: #ff5000;
}
.firstLeft .ad {
	width: 160px;
}
.firstLeft .ad img{
	width: 160px;
}

/*图片2容器*/
.firstLeft .img2Box {
	width: 690px;
	height: 220px;
	margin-top: 10px;
}
.firstLeft .img2Box .picTitle {
	height: 20px;
}
.firstLeft .img2Box .picTitle .text {
	height: 17px;
	line-height: 17px;
}
.firstLeft .img2Box .picTitle .line {
	height: 3px;
	background-color: #ff1648;
	position: relative;
}
.firstLeft .img2Box .picTitle .line span {
	position: absolute;
	left: 0;
	width: 87px;
	height: 3px;
	background-color: #000;
}
.firstLeft .img2Box .img {
	height: 200px;
	width: 520px;
	background-color: #fff;
	position: relative;
	
	display: table-cell;/*单元格特性：垂直居中*/
	vertical-align: middle;
	
	display: flex; /*弹性盒模型,IE10+支持*/
	justify-content: space-around; /*左右间距均分*/
	align-items: center; /*上下间距均分*/
}
.firstLeft .img2Box .ad title {
	height: 20px;
	line-height: 20px;
}
/*淘宝头条*/
.firstLeft .news {
	width: 890px;
	height: 100px;
	background: #fff;
	margin-top: 10px;
	box-sizing: border-box;
	padding: 13px 13px 13px 20px;
}
.firstLeft .news .hd h3 {
	width: 129px;
	height: 56px;
	background: url(./images/taobao.png) no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}
.firstLeft .news .hd p {
	color: #999;
	line-height: 24px;
}
.firstLeft .news .newList {
	width: 680px;
	position: relative;
}
.firstLeft .news .newList .img {
	margin-right: 15px;
}
.firstLeft .news .newList .img img {
	width: 130px;
	height: 73px;
}
.firstLeft .news .newList h4 {
	line-height: 28px;
	font-size: 16px;
	font-weight: normal;
}
.firstLeft .news .newList h4 a {
	color: #333;
}
.firstLeft .news .newList p {
	line-height: 18px;
	font-size: 14px;
}
.firstLeft .news .newList p a {
	color: #999;
}
.firstLeft .news .newList h4 a:hover {
	color: #ff5000;
}
.firstLeft .news .newList .more {
	position: absolute;
	top: 0;
	right: 0;
	color: #999;
}
.firstLeft .news .newList .more:hover {
	color: #ff5000;
}

/*右边的内容*/
.firstRight {
	width: 290px;
	margin-top: 10px;
	background: grey;
}
/*用户*/
.firstRight .user{
	height: 140px;
	padding-top: 5px;
	background-image: url(images/background.png);
}
.firstRight .user .avatar{
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 auto;
	text-align: center;
	border-radius: 50%;
	overflow: hidden;
}
.firstRight .user .img{
	width: 50px;
	height: 50px;
}
.firstRight .user .username{
	text-align: center;
	line-height: 16px;
}
.firstRight .user .members{
	text-align: center;
	font-size: 0; /*由于两个a标签是换行的，中间有空格，所以定义字体大小为0*/
}
.firstRight .user .members a{
	display: inline-block;
	font-size: 12px; /*上面字体大小为0，在这里单独设置字体大小，不然a标签的文字因为大小是0而无法显示*/
	border-radius: 9px;
	padding: 0 10px 0 20px;
	margin: 0 2px;
	background: #ffe4dc;
}
/*链接前的小图标*/
/*.firstRight .user .members a.gold{
	background: #ffe4dc url() 0 -572px no-repeat;
}*/
/*.firstRight .user .members a.club{
	background: #ffe4dc url() 0 -572px no-repeat;
}*/
.firstRight .user .btn{
	text-align: center;
}
.firstRight .user .btn button{
	text-align: center;
	width: 75px;
	height: 25px;
	line-height: 25px;
	margin: 12px 2px 0 2px;
	font-weight: bold;
	border-radius: 4px;
	border: none;
	background-image: linear-gradient(to right, #ff9000, #ff5000);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9000',endColorstr='#ffff5000',GradientType=1);
}
.firstRight .user .btn button.login{
	width: 92px;
}
/*举报*/
.firstRight .tip{
	display: block;
	height: 26px;
	line-height: 26px;
	color: #f40;
	background: #ffe4dc;
	text-align: center;
}
.firstRight .tip span{
	vertical-align: middle;
}
.firstRight .tip i{
	vertical-align: middle;
	position: relative; /*相对自己的默认位置定位*/
	left: 30px;
}
/*公告区*/
.firstRight .notice{
	height: 108px;
	background: #fff;
}
.firstRight .notice .title{
	text-align: center;
	font-size: 0;
	padding-top: 10px;
}
.firstRight .notice .title li{
	display: inline-block; /*居中不使用浮动*/
	font-size: 12px;
	line-height: 20px;
	padding: 0 4px;
	margin: 0 10px;
}
.firstRight .notice .title li.active{
	font-weight: bold;
	border-bottom: 2px solid #f40;
}
.firstRight .notice .title li a:hover{
	color: #f40;
}
.firstRight .notice .content{
	margin: 0 12px;
	padding-top: 10px;	
}
.firstRight .notice .content li{
	height: 25px;
	line-height: 25px;
	width: 130px; /*给定截取长度*/
	float: left;
	overflow: hidden;
}
.firstRight .notice .content li a:hover,.firstRight .notice .content li.item1 a{
	color: #ff5000;
}
.firstRight .notice .content li.item1{
	width: 100%; /*显示为100%不做截取*/
}
.firstRight .icon{
	width: 100%;
	height: 231px;
	background: #fff;
	table-layout: fixed;
	 /*定义列宽的算法，fixed的计算方式根据
	 表格的宽度自动计算列宽，
	 每列的宽度为均分整个表格的宽度*/
}
.firstRight .icon td{
	border: 1px solid #f4f4f4;
	text-align: center;
}
.firstRight .icon td span{
	display: block;	/*避免文字和图片在一行显示*/
	width: 44px;
	height: 44px;
	margin: 0 auto;
	background: url(images/tab.png) no-repeat;
}
.firstRight .icon td i{
	margin-top: 50px;
	line-height: 34px;
	color: #333;
}
/*.firstRight .icon td.item1{
		background-position: 0 -87px;
}*/
/*app*/
.firstRight .app{
	height: 111px;
	background: #fff;
}
.firstRight .app .title{
	height: 30px;
	line-height: 30px;
}
.firstRight .app h3{
	font-size: 14px;
	padding-left: 14px;
}
.firstRight .app .title a{
	margin-right: 10px;
}
.firstRight .app .title a:hover{
	color: #f40;
}
.firstRight .app h3{
	font-size: 14px;
	padding-left: 14px;
}
.firstRight .app .appIcon{
	font-size: 0;
	text-align: center;
}
.firstRight .app .appIcon li{
	display: inline-block;
	margin: 0 10px 8px 10px;
}
.firstRight .app .appIcon li img{
	width: 32px;
	height: 32px;
}
/*滑动导航*/
#navfix{
	width: 50px;
	height: 350px;
	position: fixed;
	top: 400px;
	right: 50px;
	/*border: 1px solid #f00;*/
}
#navfix div{
	height: 250px;
	border-radius: 8px;
	overflow: hidden;
}
#navfix .btn a{
	display: block;
	width: 50px;
	height: 50px;
	text-align: center;
	background: #fff;
	word-break: keep-all; /*在空格处强制换行*/
	padding-top: 6px;
	box-sizing: border-box;
	position: relative;
}
#navfix .btn a:after{ /*一个冒号兼容ie*/
	content: '';
	border-bottom: 1px solid #efefef;
	width: 34px;
	position: absolute;
	left: 8px; /*8+8+34=50*/
	bottom: 0;
}
#navfix .btn a.item5{
	line-height: 40px;
}
#navfix a:hover,#navfix a.active{
	background-image: linear-gradient(135deg, #ff9000, #ff5000);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9000',endColorstr='#ffff5000',GradientType=1);
	/*135°左上角往下渐变*/
	color: #fff;
	font-weight: bold;
}
#navfix a:hover:after,#navfix a.active:after{
	border: none;
}



















.firstRight .app{
	
}